.Horario {
    width: 100%;
}

.Horario main .dia-hora {
    margin: 0 24px 24px;
    font-size: 20px;
}

.Horario main .dia-hora button {
    width: 83px;
    height: 43px;
    font-size: 18px;
    border-radius: 3px;
    margin-top: 22px; 
    margin-right: 9px; 
    border: none;
    color: #FFFFFF;
    background: #E8833A;
}