.Filmes section {
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Filmes section p {
    font-size: 24px;
    color: #293845;
}

.Filmes main {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.Filmes main img {
    width: 129px;
    height: 193px;
}

.Filmes main .borda {
    width: 145px;
    height: 209px;
    margin-bottom: 27px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.1);
    background: #FFFFFF;
}