.Voltar {
    top: 20px;
    height: 0px;
    margin-right: 300px;
    z-index: 1;
    font-size: 20px;
    border: none;
    position: sticky;
    color: #E8833A;
    background-color: #C3CFD9;
}

.Voltar:hover {
    cursor: pointer;
}