header {
    width: 100%;
    height: 67px;
    left: 0px;
    top: 0px;
    position: sticky;
    background: #C3CFD9;
}

header p {
    width: 100%;
    height: 67px;
    font-size: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #E8833A;
}